{% extends "base.html" %}

{% block content %}

<div class="card box has-background-grey">
    <header class="card-header is-centered is-size-4">
        {{ album.title }}
    </header>
    <div class="card-content">
        {% for artist in album.artists.all %}
        <div class="content">
            {{ artist }}
        </div>
        {% endfor %}
        <button class="button is-primary is-light">
            <a href="{% url 'edit_album' pk=album.pk %}">Edit</a>
        </button>
        <button class="button is-primary is-light">
            <a href="{% url 'delete_album' pk=album.pk %}">Delete</a>
        </button>
    </div>
</div>

{% endblock %}