{% extends "base.html" %}

{% block content %}

<div class="card box">
    <header class="card-header is-centered is-size-4">
        {{ album.title }}
    </header>
    <form action="{% url 'delete_album' pk=album.pk %}" method="POST">
        {% csrf_token %}
        <p class="mt-3">Are you sure you want to delete <strong>{{ album.title }}</strong>?</p>
        <div class="mt-3">
            <button class="button is-danger is-light" type="submit">Delete</button>
            <a class="button is-primary is-light" href="{% url 'list_albums' %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}