{% extends "base.html" %}

{% block content %}

<div class="section is-flex-wrap-wrap">
    {% for album in albums %}
    <div class="card box has-background-grey">
        <header class="card-header is-centered is-size-4">
            <a href="{% url 'album_detail' pk=album.pk %}">{{ album.title }}</a>
        </header>
        <div class="card-content">
            {% for artist in album.artists.all %}
            <div class="content">
                {{ artist }}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}